<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961224040960-9qhckrk4srlgc8p2cipdud9pmrlp0uol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961224040960-9qhckrk4srlgc8p2cipdud9pmrlp0uol</string>
	<key>API_KEY</key>
	<string>AIzaSyDI1GULxad91tzLv8VSaAKUVPZzPDvL-7g</string>
	<key>GCM_SENDER_ID</key>
	<string>961224040960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practice.fireship</string>
	<key>PROJECT_ID</key>
	<string>fireship-f56f2</string>
	<key>STORAGE_BUCKET</key>
	<string>fireship-f56f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961224040960:ios:5f5b42a2a44155c3</string>
	<key>DATABASE_URL</key>
	<string>https://fireship-f56f2.firebaseio.com</string>
</dict>
</plist>